{% extends 'base.html' %}
{% load tags %}
{% load staticfiles %}

{% block style %}

    {{ block.super }}
    <!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <strong>COORDINADORES ACTUALES</strong> </h2>
                <div class="clearfix"></div>
             </div>
            <div class="x_content">
            <table id="datatable" class="table table-hover table-bordered" style="font-size:14px; ">
                <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Carrera</th>
                </tr>
                </thead>
                <tbody>
                {% for coordinador in coordinadores %}
                {% if coordinador.estado %}
                <tr>
                    <td>{{ coordinador.docente.nombres }}</td>
                    <td>{{ coordinador.docente.apellidos }}</td>
                    <td>{{ coordinador.docente.cedula }}</td>
                    <td>{{ coordinador.docente.telefono }}</td>
                    <td>{{ coordinador.carrera.nombre }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <strong>COORDINADORES ANTIGUOS </strong> </h2>
                <div class="clearfix"></div>
                </div>
            <div class="x_content">
            <table id="datatable2" class="table table-hover table-bordered" style="font-size:14px; ">
                <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Carrera</th>
                </tr>
                </thead>
                <tbody>
                {% for coordinador in coordinadores %}
                {% if not coordinador.estado %}
                <tr>
                    <td>{{ coordinador.docente.nombres }}</td>
                    <td>{{ coordinador.docente.apellidos }}</td>
                    <td>{{ coordinador.docente.cedula }}</td>
                    <td>{{ coordinador.docente.telefono }}</td>
                    <td>{{ coordinador.carrera.nombre }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script>
        $('#datatable').DataTable();
        $('#datatable2').DataTable();
    </script>
{% endblock %}
    