{% extends 'base.html' %}

{% load staticfiles %}

{% block style %}

    {{ block.super }}
    <!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
    <!-- Uikit -->
    <link href="{% static 'plugins/uikit/css/uikit.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <strong>{{ title }}</strong> </h2>
                <div class="clearfix"></div>
             </div>
            <div class="x_content ">
                <table id="datatable" class="table table-hover table-bordered" style="font-size:13px;">
                    <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Gerente</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Iniciado por</th>
                        <th>Fin. Convenio</th>
                        <th width="11%">Opt.</th>
                    </tr>
                    </thead>
                
                    <tbody>
                    {% for empresa in empresas %}
                    <tr>
                        <td>{{ empresa.nombre }}</td>
                        <td>{{ empresa.gerente }}</td>
                        <td>{{ empresa.direccion }}</td>
                        <td>{{ empresa.telefono }}</td>
                        <td>{{ empresa.correo }}</td>
                        <td>{{ empresa.responsable.get_full_name }}</td>
                        <td>{{ empresa.fin }}</td>
                        <td>
                            {% if perms.practicas.reporte_convenio_practicas %}
                            <a href="{% url 'practicas:reporte_convenio' empresa.slug %}" class="btn btn-default btn-xs"><i class="fa  fa-file-word-o"></i></a>
                            {% endif %}
                            <button class="btn btn-default btn-xs" onclick="evidencia('{{ empresa.slug }}');"><i class="fa fa-eye"></i></button>
                            {% if perms.practicas.change_empresa %}
                            <a href="{% url 'practicas:actualizar_empresa' empresa.slug %}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

    {{ block.super }}
    <!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <!-- Uikit -->
    <script src="{% static 'plugins/uikit/js/uikit.js' %}"></script>
    <script src="{% static 'plugins/uikit/js/uikit-icons.js' %}"></script>
    <script>
        function evidencia(slug){
            $.ajax({
                url: '{% url "practicas:evidencia_empresa" %}',
                type: 'post',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'slug':slug},
                success: function(data){ 
                    console.log(data)
                    var galeria = []
                    for (i=0; i < data.imagen.length; i++){
                        galeria.push({source: data.imagen[i], caption: data.nombre})
                    }
                    console.log(galeria)
                    UIkit.lightboxPanel({
                        items: galeria
                    }).show();
                }
            })
        }
    </script>

{% endblock %}