{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{% block style %}
    {{ block.super }}
    <!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
    <!-- Uikit -->
    <link href="{% static 'plugins/uikit/css/uikit.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <strong>{{ title }}</strong> </h2>
                <div class="clearfix"></div>
             </div>
            <div class="x_content">
            <table id="datatable" class="table table-hover table-bordered" style="font-size:14px; ">
                <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    {% if perms.registros.admin_prac or perms.registros.admin_vinc %}
                    <th>Carrera</th>
                    {% endif %}
                    {% if perms.registros.admin_prac or perms.registros.resp_prac %}
                    <th>Empresas</th>
                    {% elif perms.registros.admin_vinc or perms.registros.resp_vinc %}
                    <th>Entidades</th>
                    {% endif %}
                    <th>Horas</th>
                    <th>Calificación</th>
                    <th width=5%>Opt.</th>
                </tr>
                </thead>
                <tbody>
                {% for estudiante in estudiantes %}
                {% if perms.registros.admin_prac or perms.registros.resp_prac %}
                    {% count_valores_practicas estudiante.registros_practicas.all as value %}
                {% elif perms.registros.admin_vinc or perms.registros.resp_vinc %}
                    {% count_valores_vinculacion estudiante.evaluaciones.all as value %}
                {% endif %}
                <tr>
                    <td>{{ estudiante.nombres }}</td>
                    <td>{{ estudiante.apellidos }}</td>
                    <td>{{ estudiante.cedula }}</td>
                    {% if perms.registros.admin_prac or perms.registros.admin_vinc %}
                    <td>{{ estudiante.carrera.nombre }}</td>
                    {% endif %}
                    {% if perms.registros.admin_prac or perms.registros.resp_prac %}
                    <td>{{ estudiante.registros_practicas.count }}</td>
                    <td>{{ value.horas }}</td>
                    {% elif perms.registros.admin_vinc or perms.registros.resp_vinc %}
                    <td>{{ value.count }}</td>
                    <td>{{ value.horas }}</td>
                    {% endif %}
                    <td>{{ value.calificacion }}</td>
                    <td>
                        {% if perms.registros.admin_prac or perms.registros.resp_prac %}
                        <button class="btn btn-default btn-xs" onclick="evidencia('{{ estudiante.id }}');"><i class="fa fa-eye"></i></button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

    {{ block.super }}
    <!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script>
        $('#datatable').DataTable();
    </script>
    <!-- Uikit -->
    <script src="{% static 'plugins/uikit/js/uikit.js' %}"></script>
    <script src="{% static 'plugins/uikit/js/uikit-icons.js' %}"></script>
    <script>
        function evidencia(id){
            $.ajax({
                url: '{% url "registro:ajax_evidencia_estudiante" %}',
                type: 'post',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'id':id},
                success: function(data){ 
                    var galeria = []
                    for (i=0; i < data.length; i++){
                        for (c=0; c < data[i].imagen.length; c++){
                            galeria.push({source: data[i].imagen[c], caption: data[i].nombre})
                        }
                    }
                    UIkit.lightboxPanel({
                        items: galeria
                    }).show();
                }
            })
        }
    </script>
{% endblock %}
    