{% extends 'base.html' %}

{% load staticfiles %}

{% block style %}

    {{ block.super }}
    <!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <strong>{{ title }}</strong> </h2>
                <div class="clearfix"></div>
             </div>
            <div class="x_content">
            <table id="datatable" class="table table-hover table-bordered" style="font-size:14px; ">
                <thead>
                <tr>
                    <th>Empresa</th>
                    <th>F. de Presentacion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    {% if perms.registros.admin_prac %}
                    <th>Carrera</th>
                    {% endif %}
                    <th>Evidencias</th>
                    {% if perms.practicas.change_registro_practicas %}
                    <th>Opciones</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for practica in practicas %}
                <tr>
                    <td>{{ practica.empresa.nombre }}</td>
                    <td>{{ practica.presentacion }}</td>
                    <td>{{ practica.estudiante.nombres }}</td>
                    <td>{{ practica.estudiante.apellidos }}</td>
                    <td>{{ practica.estudiante.cedula }}</td>
                    {% if perms.registros.admin_prac %}
                    <td>{{ practica.estudiante.carrera.nombre }}</td>
                    {% endif %}
                    <td>{{ estudiante.paralelo }}</td>
                    {% if perms.practicas.change_registro_practicas %}
                    <td>
                        <a href="{% url 'practicas:proceso' practica.slug %}" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

    {{ block.super }}
    <!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

{% endblock %}
    